@import "tailwindcss";

/* Variables de tema */
@theme {
  --font-family-sans: var(--font-sans), sans-serif;
  --font-family-outline: var(--font-sans-outline), sans-serif;

  --font-size-fluid-hero: clamp(4rem, 12.9vw, 999rem);
}

/* Keyframes y utilidades personalizadas */
@layer utilities {
  
  /* Keyframes para Fade In Left */
  @keyframes fade-in-right {
    from {
      opacity: 0;
      transform: translateX(5vw); /* Empieza 20px a la izquierda */
    }
    to {
      opacity: 1;
      transform: translateX(0); /* Termina en su posición normal */
    }
  }
  @keyframes fade-in-left {
    from {
      opacity: 0;
      transform: translateX(-5vw); /* Empieza 20px a la izquierda */
    }
    to {
      opacity: 1;
      transform: translateX(0); /* Termina en su posición normal */
    }
  }

  /* Utilidad Fade In Left */
  .animate-fade-in-left {
    animation: fade-in-left 0.8s ease-out forwards;
  }
  .animate-fade-in-right {
    animation: fade-in-right 0.8s ease-out forwards;
  }
  
  /* scrollbars */
  .no-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* fuentes */
  .font-outline {
    font-family: var(--font-family-outline);
  }

  .text-fluid-hero {
    font-size: var(--font-size-fluid-hero);
    line-height: 1;
  }

  /* Animación personalizada */
  @keyframes write {
    0%   { opacity: 1; }
    25%  { opacity: 0; }
    50%  { opacity: 1; }
    75%  { opacity: 0; }
    100% { opacity: 1; }
  }

  .animate-write {
    animation: write 0.6s linear infinite;
  }
}